<div class="content container-fluid">
	<div class="row contact">

		<div class="col-sm-5 bg-dark text-secondary rounded-lg ml-4">
			<form>
				<h1 class="text-center my-4">Contact Me</h1>

				<div class="wrapper  container-fluid my-4">
					<span>NAME</span>
					<input class="border-bottom border-warning" type="text" name="name" id="name" required="required" >
				</div>

				<div class="wrapper container-fluid my-4">
					<span>EMAIL</span>
					<input class="border-bottom border-warning" type="email" name="email" id="email" required="required" >
				</div>
				
				<div class="wrapper container-fluid my-4">
					<span>MESSAGE</span>
					<textarea class="border-bottom border-warning" name="message" id="message" required="required"></textarea>
				</div>

				<div class="wrapper text-center container-fluid my-4">
					<button class="p-3 rounded-sm" type="submit">
						Send Your Message
					</button>					
				</div>

			</form>
		</div>

		<div class="col-sm-6 text-light ml-4">
			You can also find my with the info bellow:
			<br><br>
			Phone: +1 (647) 675 0812<br><br>
			Email: pedro.zelada.souza@gmail.com<br><br>
			<a class="social fb" href="#fb"></a>
			<a class="social ln" href="#ln"></a>
			<a class="social tt" href="#tt"></a>
		</div>
	</div>
</div>